<template>
  <div v-if="item" class="row">
    <div class="col-sm-6">
      <img :src="item.photo" alt="Photo">
    </div>
    <div class="col-sm-6">
      <h4>{{item.title}}</h4>
      <p>{{item.description}}</p>
      
      <div class="row">
        <div class="col-sm-3">
          <p>$ {{item.price}}</p>
        </div>
        <div class="col-sm-3">
           <a @click="addToCart(item)" class="btn btn-primary float-right">+ Add</a>
        </div>
      </div>
     
     
    </div>
  </div>
  <h1 v-else>Loading</h1>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  data () {
    return {
      item: null
    }
  },
  mounted(){
    this.fetchItem()
  },
  methods:{
    fetchItem(){
      var self = this
      axios.get('http://localhost:3000/item/'+this.$route.params.id).then(response =>{
        self.item = response.data
      })
    },
    addToCart(item){
      this.$store.commit('addToCart',item)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
