<template>
  <div id="app">
 
    <!-- <router-view></router-view>
    <router-link :to="{path: '/test/1'}">Hello 1</router-link>
    <router-link :to="{path: '/test/2'}">Hello 2</router-link>
    <router-link :to="{path: '/test/3'}">Hello 3</router-link>
    <router-link :to="{path: '/'}">Test</router-link> -->
      <navbar @search='searchItem'></navbar>

      <div class="container">
          <div class="row">
              <div class="col-sm-9">
                <router-view></router-view>
                <!-- <inventory @newItemAdded="addCartItem" :items="items"></inventory> -->
              </div>
              <div class="col-md-3">              
                  <cart :items="cart" @removeItem="itemRemove"></cart>                         
              </div>
          </div>
      </div> 
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Cart from './components/Cart' 
// import Inventory from './components/Inventory'
import data from './data.js';

export default {
  components:{
    Navbar,
    Cart,
    // Inventory
  },
  data(){
    return{
      items: [],
      cart: []
    }
  },
  mounted() {
    this.items = data;
  },
  methods:{
    addCartItem(item){
      this.cart.push(item);
    },
    itemRemove(index){
      this.cart.splice(index,1);
    },
    searchItem(keyword){
      this.items = data.filter(item =>{
        return item.title.toLowerCase().indexOf(keyword.toLowerCase()) !== -1
      })
    }


  }
}
</script>

<style>

  .container{
    padding-top: 5px; 
  }
</style>
